<footer class="footer" id="contact">
  <div class="container">
    <div class="widget-wrapper">
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="footer-widget">
            <div class="logo mb-35">
              <a href="/"> <img src="assets/img/logo/logo_decoimp.png" alt="Logo" class="img-fluid" style="width: 80%;"> </a>
            </div>
            <p class="desc mb-35">Su puente de importación entre China y Bolivia.</p>
            <ul class="socials">
              <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
              <li><a href="#"><i class="lni lni-twitter-filled"></i></a></li>
              <li><a href="#"><i class="lni lni-instagram-filled"></i></a></li>
              <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="col-xl-2 offset-xl-1 col-md-5 offset-md-1 col-sm-6">
          <div class="footer-widget">
            <h3>Enlaces</h3>
            <ul class="links">
              <li><a href="/" data-route="home">Inicio</a></li>
              <li><a href="/about" data-route="about">Nosotros</a></li>
              <li><a href="/service" data-route="service">Servicios</a></li>
              <li><a href="/sectores" data-route="sectores">Sectores</a></li>
              <li><a href="/contact" data-route="contact">Contáctanos</a></li>
            </ul>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 col-sm-6">
          <div class="footer-widget">
            <h3>Servicios</h3>
            <ul class="links">
              <li><a href="/service" data-route="service">Asesoramiento en Exportación</a></li>
              <li><a href="/service" data-route="service">Búsqueda y Validación de Proveedores</a></li>
              <li><a href="/service" data-route="service">Almacenamiento</a></li>
              <li><a href="/service" data-route="service">Logística Interna y Fletes</a></li>
              <li><a href="/service" data-route="service">Hospedaje y Logística para Viajes</a></li>
              <li><a href="/service" data-route="service">Gestión de Fletes Internacionales</a></li>
              <li><a href="/service" data-route="service">Trámites Aduaneros en Chile y Bolivia</a></li>
            </ul>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="footer-widget">
            <h3>Contacto</h3>
            <ul>
              <li><a href="tel:+59177889911">+591 77889911</a></li>
              <li><a href="mailto:saul.bppb@gmail.com">saul.bppb@gmail.com</a></li>
              <li>La Paz - Bolivia</li>
            </ul>
            <div class="contact_map" style="width: 100%; height: 150px; margin-top: 25px;">
              <iframe src="https://maps.google.com/maps?q=La+Paz+Bolivia&output=embed" style="width: 100%; height: 100%; border:0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="copy-right">
      <p>Design and Developed by © Copyright <a href="/">DECOIMP</a> [2025]</p>
    </div>
  </div>
</footer>