<footer class="footer" id="contact">
  <div class="container">
    <div class="widget-wrapper">
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="footer-widget">
            <div class="logo mb-35">
              <a href="index.html"> <img src="assets/img/logo/loguito.png" alt="Logo" class="img-fluid" style="width: 80%;"> </a>
            </div>
            <p class="desc mb-35">Su puente de importación entre China y Bolivia.</p>
            <ul class="socials">
              <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
              <li><a href="#"><i class="lni lni-twitter-filled"></i></a></li>
              <li><a href="#"><i class="lni lni-instagram-filled"></i></a></li>
              <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="col-xl-2 offset-xl-1 col-md-5 offset-md-1 col-sm-6">
          <div class="footer-widget">
            <h3>Enlaces</h3>
            <ul class="links">
              <li><a href="#home">Inicio</a></li>
              <li><a href="#about">Nosotros</a></li>
              <li><a href="#service">Servicios</a></li>
              <li><a href="#sectores">Sectores</a></li>
              <li><a href="#contact">Contáctanos</a></li>
            </ul>
          </div>
        </div>

        <div class="col-xl-3 col-md-6 col-sm-6">
          <div class="footer-widget">
            <h3>Servicios</h3>
            <ul class="links">
              <li><a href="#" onclick="scrollToSection('#service')">Asesoramiento en Exportación</a></li>
              <li><a href="#" onclick="scrollToSection('#service')">Búsqueda y Validación de Proveedores</a></li>
              <li><a href="#" onclick="scrollToSection('#service')">Almacenamiento</a></li>
              <li><a href="#" onclick="scrollToSection('#service')">Logística Interna y Fletes</a></li>
              <li><a href="#" onclick="scrollToSection('#service')">Hospedaje y Logística para Viajes</a></li>
              <li><a href="#" onclick="scrollToSection('#service')">Gestión de Fletes Internacionales</a></li>
              <li><a href="#" onclick="scrollToSection('#service')">Trámites Aduaneros en Chile y Bolivia</a></li>
            </ul>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="footer-widget">
            <h3>Contacto</h3>
            <ul>
              <li><a href="tel:+59177889911">+591 77889911</a></li>
              <li><a href="mailto:saul.bppb@gmail.com">saul.bppb@gmail.com</a></li>
              <li>La Paz - Bolivia</li>
            </ul>
            <div class="contact_map" style="width: 100%; height: 150px; margin-top: 25px;">
              <iframe src="https://maps.google.com/maps?q=La+Paz+Bolivia&output=embed" style="width: 100%; height: 100%; border:0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="copy-right">
      <p>Design and Developed by © Copyright <a href="index.html">DECOIMP</a> [2025]</p>
    </div>
  </div>
</footer>

<script>
// Función simple para scroll a secciones
function scrollToSection(sectionId) {
    const element = document.querySelector(sectionId);
    if (element) {
        element.scrollIntoView({ behavior: 'smooth' });
    }
}

// Hacer todos los enlaces del footer funcionales
document.querySelectorAll('.footer .links a[href^="#"]').forEach(link => {
    link.addEventListener('click', function(e) {
        e.preventDefault();
        const target = this.getAttribute('href');
        scrollToSection(target);
    });
});
</script>